---
layout: default
active: home
---
<div class="text-center">
<h1>Veštačka Inteligencij<span class="vim-caret">a</span></h1>
<div class="lead mb-3 text-mono">Matematički fakultet</div>
<span class="ht-tm-element hal-9000 d-block mx-auto mb-3 mt-3"></span>
</div>

<div class="ht-tm-codeblock">
  <div class="ht-tm-element card border-primary mb-3 text-center">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <img class="img-fluid" src="./images/synth_gifs/thetraffic.gif" alt="">
      </blockquote>
    </div>
  </div>
</div>

{% include news.html tag='vi2019' %}
{% include course-info.html tag='vi2019info' %}